html {
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
body {
    margin:0px;
    height: 100%;
}
*/

@font-face {
    font-family: 'pixelFont';
    src: url('/static/modern_dos/ModernDOS9x16.ttf')  format('truetype');
}

*/





.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.box {
    margin: auto;
    padding: 25px;
    height: 397px;
    width: 700px;
    background: url(/static/box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.ver-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.column {
  float: left;
  height: 100%;
  /* border: 2px solid #FFFF00; */
}

.left {
  width: 30%;
}

.right {
    width: 70%;
}

.textbox{
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
    font-family: 'pixelFont';
    text-align: center;
    font-size: 95px;
    color: #FFF3B4;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

h2 {
    position: relative;
    font-family: 'pixelFont';
    text-align: center;
    font-size: 40px;
    color: black;
    margin: 30px;
}

p {
    position: relative;
    font-family: 'pixelFont';
    text-align: justify;
    font-size: 20px;
    color: black;
    margin: auto;
}
.flex {
    display: flex;
    justify-content: space-around;
}

.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.textbox2{
    width: 100%;
    height: 50%;
    padding-right: 10px;
    padding-left: 10px;
    align-content: center;
}

input {
    font-family: 'pixelFont';
    width: 30%;
    margin: 5px;
    display: inline-flex;
    align-items: center;
}
button {
    font-family:'pixelFont';
    width: 50%;
    display: flex;
    margin-top: 10px;
}
.btn {
    background-color: white;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(45deg, #FFC839, #B55088) 1;
    -webkit-text-fill-color: black;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: color .2s;
}
.btn:hover {
    background: linear-gradient(45deg, #B55088, #FFC839);
    -webkit-text-fill-color: white;
    border: 4px solid white !important;
}
