<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='bunny.png') }}" />
    <title>BunnySpeaks</title>

</head>
<body>
    <h1>BUNNY SPEAKS</h2>
    <div class="box center">
        <h2>Choose Your Sign</h2>
        <div class="column left">
            <img src="/static/bunny.png" alt="Bunny" width = "200" height="200" class="ver-center">
        </div>
        <div class="column right">
            <div class="textbox flex">
                <form action="/horoscope" method="post">
                    <input type="submit" class="btn" name="sign" value="Aries">
                    <input type="button" class="btn" name="sign" value="Taurus">
                    <input type="submit" class="btn" name="sign" value="Gemini">
                    <input type="submit" class="btn" name="sign" value="Cancer">
                    <input type="submit" class="btn" name="sign" value="Leo">
                    <input type="submit" class="btn" name="sign" value="Virgo">
                    <input type="submit" class="btn" name="sign" value="Libra">
                    <input type="submit" class="btn" name="sign" value="Scorpio">
                    <input type="submit" class="btn" name="sign" value="Sagittarius">
                    <input type="submit" class="btn" name="sign" value="Capricorn">
                    <input type="submit" class="btn" name="sign" value="Aquarius">
                    <input type="submit" class="btn" name="sign" value="Pisces">
                </form>
            </div>
        </div>
    </div>

</body>
</html>
